<div class="container">
  <div class="admin-customer pt-5">
    <h4 class="pb-3">会員一覧</h4>
    <table class="table table-bordered table-hober table-inverse">
      <tr class="table-active">
        <th class="border-dark">会員ID</th>
        <th class="border-dark">氏名</th>
        <th class="border-dark">メールアドレス</th>
        <th class="border-dark">ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td class="border-dark">
            <%= customer.id %>
          </td>
          <td class="border-dark">
            <%= link_to customer.last_name+" "+customer.first_name, admin_customer_path(customer), class: "text-dark" %>
          </td>
          <td class="border-dark">
            <%= customer.email %>
          </td>
          <td class="border-dark">
            <% if customer.withdrawal == true %>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    <div class="pagenate">
      <%= paginate @customers %>
    </div>
  </div>
</div>